<% unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Hello World</h1>
				<p>
					You found the homepage for the 
					<%= link_to "One Month Rails", "http://onemonthrails.com"%> 
					application.
				</p>
		<p>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-large" %>
			<%= link_to "Email Sign Up!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>